@use "mixins/reset-settings";
@use "variables";

.bike {
  @include reset-settings;
  margin-right: 120px;

  &__slider-line {
    @include reset-settings;
    width: 100%;
    display: inline-block;
    margin-top: 120px;
  }

  &__slider-indicator {
    @include reset-settings;
    width: 4px;
    height: 4px;
    background-color: #cacaca;
    border-radius: 50%;

    &_type_active {
      background-color: $fontColorBlack;
    }
  }

  &__slider {
    @include reset-settings;
    margin: 20px auto 40px;
    list-style-type: none;
    display: none;
    cursor: pointer;
  }

  &__menu-point {
    @include reset-settings;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &_type_active {
      font-weight: 600;
      opacity: 1;

      &:hover {
        opacity: 0.75;
      }
    }

    &_theme_dark:hover {
      opacity: 0.5;
    }
  }

  &__menu {
    @include reset-settings;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  &__list-type {
    @include reset-settings;
    margin-top: 40px;
    padding: 8px 12px;
    display: none;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    background-color: $backgroundcolorWhite;
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    width: 114px;
    height: 30px;
    appearance: none;
    overflow: hidden;
    background-image: url("../../../images/Select.svg");
    background-repeat: no-repeat;
    background-position: center right 12px;
  }

  &_info-panel {
    @include reset-settings;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__cards {
    @include reset-settings;
    width: 100%;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    list-style-type: none;
  }
}

@media screen and (max-width: 480px) {
  .bike {
    margin: 40px auto 64px;

    &__slider-line {
      margin-top: 35px;
      justify-content: start;
    }

    &__slider {
      display: flex;
      justify-content: center;
      gap: 13px;
    }

    &__menu {
      display: none;
    }

    &__list-type {
      display: block;
    }

    &__info-panel {
      padding-right: 0;
      padding-top: 40px;
    }

    &__cards {
      justify-content: start;
    }
  }
}
