@use "mixins/border-box" as *;

.slider {
  @include border-box;
  padding: 0;
  margin: 0;
  margin-top: 150px;
  overflow: hidden;

  &__vector {
    @include border-box;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 28px;
    left: 16px;
    z-index: 1;
  }

  &__title-view {
    @include border-box;
    padding: 0;
    margin: 0;
    margin-top: 60px;
  }

  &__switch {
    @include border-box;
    padding: 0;
    margin: 50px 0 60px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__subtitle-view {
    @include border-box;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    max-width: 460px;

    &_theme_dark {
      color: #e5e5e5;
    }
  }

  &__menu-point {
    @include border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    opacity: 0.7;

    &_type_active {
      font-weight: 600;
      opacity: 1;
    }
  }

  &__img {
    @include border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__figure {
    @include border-box;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 16px;
  }

  &__container-images {
    @include border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    padding-top: 27.6%;
    margin: 80px 0 50px;
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;
    justify-content: space-between;
  }

  &__container {
    @include border-box;
    padding: 0;
    margin: 0;
    position: relative;
  }

  &__button-right {
    @include border-box;
    padding: 0;
    margin: 0;
    background-image: url("../../src/images/arrow right.png");

    &_theme_dark {
      background-image: url("../../src/images/arrow right_dark.png");
    }
  }

  &__button-left {
    @include border-box;
    padding: 0;
    margin: 0;
    background-image: url("../../src/images/arrow left.png");

    &_theme_dark {
      background-image: url("../../src/images/arrow left_dark.png");
    }
  }

  &__button {
    @include border-box;
    padding: 0;
    margin: 0;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ebebeb;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    text-align: center;
    font-size: 30px;

    &:hover {
      opacity: 0.6;
    }

    &_theme_dark {
      background-color: #434343;
    }
  }

  &__block-mobile {
    @include border-box;
    padding: 0;
    margin: 40px 0;
  }
}

@media screen and (max-width: 480px) {
  .slider {
    margin-top: 0px;

    &__vector {
      width: 35px;
      height: 12px;
      bottom: 22px;
      left: 11px;
    }

    &__title-view {
      margin-top: 0px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &__switch {
      margin: 0px;
      justify-content: end;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      gap: 10px;
    }

    &__subtitle-view {
      margin-top: 40px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    &__figure {
      width: 70px;
      height: 28px;
      bottom: 14px;
    }

    &__container-images {
      padding-top: 47.6%;
      margin: 0;
    }

    &__container {
      margin-top: 40px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    &__button-right {
      background-size: 4.5px 10px;
    }

    &__button-left {
      background-size: 4.5px 10px;
    }

    &__button {
      width: 24px;
      height: 24px;
      margin: auto 0;
      border-radius: 30px;
    }

    &__block-mobile {
      display: grid;
      grid-template-columns: 1fr 68px;
      grid-template-rows: 0.3fr 1.7fr 1fr;
    }
  }
}
