@use "mixins/reset-settings";
@use "variables";

.body {
  @include reset-settings;
  width: 100%;
  background-color: $backgroundcolorWhite;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: $fontColorBlack;

  &_theme_dark {
    background-color: #333;
    color: #fff;
  }
}
