@use "mixins/reset-settings";
@use "variables";

.menu {
  @include reset-settings;
  padding: 28px 120px 28px 0;
  display: flex;
  flex-direction: row;
  column-gap: 34px;
  justify-content: end;
  list-style-type: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;

  &__link {
    @include reset-settings;
    text-decoration: none;
    color: $fontColorBlack;
    opacity: 100%;

    &:hover {
      opacity: 75%;
    }

    &_theme_dark {
      color: #fff;

      &:hover {
        opacity: 0.65;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .menu {
    display: none;
  }
}
