@use "mixins/reset-settings";
@use "variables";

.popup {
  @include reset-settings;
  margin-top: 74px;
  padding-top: 70px;
  width: 100%;
  height: 100%;
  background-color: $backgroundcolorWhite;
  display: flex;
  flex-direction: column;
  gap: 314px;
  z-index: 3;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  visibility: hidden;

  &_theme_dark {
    background-color: #333;
  }

  &_opened {
    @include reset-settings;
    opacity: 1;
    visibility: visible;
  }

  &__theme-light {
    @include reset-settings;
    background-image: url(../../../images/sun.svg);
    background-position: center;
    background-size: cover;
    width: 28px;
    height: 28px;

    &_theme_dark {
      background-image: url(../../../../images/sun_theme_dark.svg);
    }
  }

  &__theme-dark {
    @include reset-settings;
    background-image: url(../../../images/Darck.svg);
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;

    &_theme_dark {
      background-image: url(../../../../images/Darck_theme_dark.svg);
    }
  }

  &__theme {
    @include reset-settings;
    display: flex;
    flex-direction: row;
    gap: 22px;
    justify-content: center;
  }

  &__switch {
    @include reset-settings;
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    border-radius: 25%/50%;
    background: #fff;
    transition: 0.2s;

    &:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #24b47e;
      transition: 0.15s;
    }
  }

  &__nav {
    @include reset-settings;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
  }

  &_link {
    @include reset-settings;
    color: $fontColorBlack;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;

    &:hover {
      opacity: 75%;
    }

    &_theme_dark {
      color: #fff;

      &:hover {
        opacity: 0.65;
      }
    }
  }

  &__checkbox {
    @include reset-settings;
    cursor: pointer;

    & input[type="checkbox"] {
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    & input[type="checkbox"]:checked + .popup__switch {
      background: #545454;
    }

    & input[type="checkbox"]:checked + .popup__switch:before {
      transform: translateX(20px);
    }
  }
}
